<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= text %></p>
    <h1>Berikut adalah list peserta binar wave 7</h1>
    <!-- logical <% %> -->
    <% for(i=0;i<3;i++){ %>
        <p><%= murid[i] %></p>
    <% } %>
    <!-- print value <%= %> -->
</body>
</html>