<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <style>
        body {
            background-color: blue;
            font-family: Verdana;
            color: white;
        }

        h1 {
            font-size: 72px;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: center;
        }

        p {
            font-size: 32px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome <%= orang %></h1>
    <p>Halaman profil <b><%= orang %></b></p>
</body>
</html>